/* */


.preset-title{
   font-size : 30 px;
}
/*
.create-tmp-btn{
    padding: 5px 15px;
        margin: 2 5 20 5px;
        box-shadow: -5px -5px 10px #fff, 5px 5px 8px #babebc;
}
*/

#createOwnTemplate{

}