.templateName, .createdAt {
  display: inline-block;
  width: 300px;
  height: 40px;
  margin: 0px;
  vertical-align: middle;
  margin: 5px;
}

.templateList {
  list-style: none;
  background-color: white;
  height: 40px;
  vertical-align: center;
  border-radius: 10px;
  width: 650px;
  margin: 10px;
}

#templateListUl{
  padding: 10px;
}
