/* 손정원 css */

#viewAnswersByAnswerPage h2 {
    color: #f36f00;
    font-size: 2rem;
    text-align: center;
}
.content-box > div {
    background-color:white;
    float:left;
    padding:0.8rem;
    border-radius:1rem;
    clear:both;
    font-weight:bold;
    font-size:1.46rem;
    box-shadow: 1px 1px 0 rgba(0,0,0,0.3);
}

.content-box.question > div {
    background-color:#FDF01B;
    float:right;
    box-shadow: -1px 1px 0 rgba(0,0,0,0.3);
}


.viewDocTitleDiv {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.question-box {
    background-color:#FDF01B;
    float:right;
    padding:0.8rem;
    border-radius:1rem;
    clear:both;
    font-weight:bold;
    box-shadow: -1px 1px 0 rgba(0,0,0,0.3);
    margin-top : 15px;
    margin-bottom : 5px;
}



.answer-box {
  background-color:white;
  float:left;
  padding:0.8rem;
  border-radius:1rem;
  clear:both;
  font-weight:bold;
  box-shadow: 1px 1px 0 rgba(0,0,0,0.3);
  margin-top : 5px;
  margin-bottom : 15px;
}

.question {
    font-size:14px;
}

.answer {
    font-size : 14px;
}


/*.wrap {
    width: 400px;
    height: 400px;
    background: #fff;
    position: relative;
    overflow:hidden;
    border-radius: 40px;
  }
.aurora-base {
    position: absolute;
    filter: blur(50px);
    opacity: 0.7;
}
.aurora-one {
    border-radius: 100%;
    width: 500px;
    height: 600px;
    background-color: #50c8ec;
    left:-50px;
    top:-300px;
    z-index: 3;
}
.aurora-two {
    width: 800px;
    height: 800px;
    background-color: #339c4e;
    bottom:-30px;
    left:-80px;
}
.aurora-three {
    border-radius: 100%;
    width: 450px;
    height: 450px;
    bottom:-80px;
    right:-200px;
    background-color: #6658b3;
}


.wrap-gradient {
    width: 400px;
    height: 400px;
    border-radius: 40px;
    background-color: #fff;
    background-image:
        radial-gradient(at top left, #84e27b, transparent),
        radial-gradient(at top right, #bdffe4, transparent),
        radial-gradient(at bottom left, #0a4c7b, transparent);
}


.anim1 {
    animation: fly 12s linear infinite;
    transform:rotate(0) translate(80px) rotate(0);
}
.anim2 {
    animation: flyPlus 8s linear infinite;
    transform:rotate(0) translate(100px) rotate(0);
}


@keyframes fly {
    100% {
        transform:rotate(1turn) translate(100px) rotate(-1turn);
    }
}
@keyframes flyPlus {
    100% {
        transform:rotate(-1turn) translate(100px) rotate(1turn);
    }
}*/

.answerListDiv {
  width: 100%;
   margin-top: 20px;
  overflow-y: scroll;
  height: 430px;
}

#answerListDiv::-webkit-scrollbar {
  display: none;
}

#signUpForm{
    text-align : center;
    justify-item : center;
    }

.joinP{
    display: inline-block;
    width: 100%;
    font-weight : 900;
    font-size: 23px;
    margin-bottom:60px;
    text-align: center;
}

.sign-up-input{
padding: 16px;
  width: 100%;
  height: 40px;
  margin-bottom: 5px;
  border: 0;
  outline: none;
  border-radius: 20px;
  box-shadow: inset 7px 2px 10px #babebc, inset -5px -5px 12px #fff;
}
.check-btn{
    font-size:smaller;
    width: 50%;
    background: #eee;
    padding: 5px;
    margin: 8px 0;
    border: 0;
    outline: none;
    border-radius: 20px;
    box-shadow: -5px -5px 10px #fff, 5px 5px 8px #babebc;
    cursor: pointer;
}
.join-btn{
    font-size:medium;
      display: block;
      width: 100%;
      background: #eee;
      padding: 22px;
      margin: 50px 0;
      border: 0;
      outline: none;
      border-radius: 20px;
      box-shadow: -5px -5px 10px #fff, 5px 5px 8px #babebc;
      cursor: pointer;
}

#signUpForm label{
    font-weight : bolder
}

