/* */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

/* main */
body{
  background-color: #f6f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  margin: -20px 0 50px;
}

.app{
  height: 100%;
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  height: 200px;
  width:50%;
  background: #ebecf0;
  text-align: center;
  vertical-align: center;
}

* {
  box-sizing: border-box;
}

/*body {
  background: #f6f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  margin: -20px 0 50px;
}*/

/*.social-container {
  margin: 20px 0;
}*/

/*.social-container a {
  border: 1px solid #DDDDDD;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 30px;
  height: 40px;
  width: 40px;
}*/

/*a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}*/

/* 리스트 들 */
.body {
  background: #ebecf0;
  display: flex;
    flex-direction: column;
    padding: 0 50px;
    height: 600px;
    width:50%;
    justify-content: top;
    align-items: top;
}

form input {
  background: #eee;
  padding: 16px;
  margin: 8px 0;
  border: 0;
  outline: none;
  border-radius: 20px;
  box-shadow: inset 7px 2px 10px #babebc, inset -5px -5px 12px #fff;
}

.login-input{
      width: 100%;
}


.social-links div {
  width: 40px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  border-radius: 50%;
  box-shadow: -5px -5px 10px #fff, 5px 5px 8px #babebc;
  cursor: pointer;
}
button {
border-radius: 20px;
  border: none;
  outline: none;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform 80ms ease-in;
  box-shadow: -5px -5px 10px #fff, 5px 5px 8px #babebc;
}

.find-form-btn {
    padding: 5px 15px;
    margin: 2 5 20 5px;

}
.submit-btn {
  padding: 15px 70px;
    margin: 14px;
}
.join-form-btn{
padding: 5px 15px;
      margin: 0 5px;

}
.form-btn :active {
  box-shadow: inset 1px 1px 2px #babebc, inset -1px -1px 2px #fff;
}
/*.login-container {
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  transition: all 0.5s;
}*/
span {
  font-size: 12px;
  color: #000;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}
/*.social-links div {
  width: 40px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  border-radius: 50%;
  box-shadow: -5px -5px 10px #fff, 5px 5px 8px #babebc;
  cursor: pointer;
}*/
/*.social-links a {
  color: #000;
}*/
/*.social-links div:active {
  box-shadow: inset 1px 1px 2px #babebc, inset -1px -1px 2px #fff;
}*/

/*
.sign-up-input{
    width : 50%;
}
.check-btn{
}
*/
/*
.templateList {
      display: block;
  padding: 10px;
  *//*border-radius: 20px;*//*
  border: none;
  outline: none;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  transition: transform 80ms ease-in;
  box-shadow: -5px -5px 10px #fff, 5px 5px 8px #babebc;
  margin-bottom: 10px; *//* 각 리스트 요소간의 간격 조절 *//*
}*/

.templateList {
  display: block;
  cursor: pointer;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #333333;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border-radius: 30px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;

  transition: all 0.3s ease-in-out;

  margin-bottom: 10px;
}

.templateList::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #ffffff;
  opacity: 0.4;
  transition: all 0.3s ease-in-out;
}

.templateList:hover::before {
  width: 100%;
}

.templateList span {
  position: relative;
  z-index: 1;
}

.createOwnTemplate-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 230px;
  height: 60px;
  text-align:left;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.createOwnTemplate-btn::after {
  content: "+";
  position: absolute;
  top: 50%;
  right: 15px;
  font-size: 18px;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
}

.createOwnTemplate-btn:hover {
  width: 300px;
  justify-content: space-between;
  background-color: #0062cc;
}

.createOwnTemplate-btn:hover::after {
  transform: translateY(-50%) translateX(5px);

.page{
    display: grid;
      place-items: center;
}

.templateListUl {
 padding: 0px;
}




