/* 김예빈 css */
.page {
  height: 480px;
  margin-bottom: 20px;
}
#templateListDiv {
  overflow-y: scroll;
  height: 480px;
  width: 450px;
}

#templateListDiv::-webkit-scrollbar {
  display: none;
}

.templateList {
  width: 400px;
  margin: auto;
  margin-bottom: 6px;
}
#questionList{
  list-style: none;
  padding: 0px;
  margin: 0;
}

#selectedList {
  padding: 0px 0px 0px 20px;
  margin: 0px;
}

.list-title {
  width: 90%;
  margin-left: 40px;
  display: inline-block;
}

#createButton {
  font-size:large;

  background: #eee;
  border: 0;
  outline: none;
  border-radius: 20px;
  box-shadow: -5px -5px 10px #fff, 5px 5px 8px #babebc;

  padding: 5px 15px;
  margin: 15px 23px;
  display: inline-block;
  width: 90%;
  cursor: pointer;
}

.categories {
  font-size: small;

  background: #eee;
  border: 0;
  outline: none;
  border-radius: 20px;
  box-shadow: -5px -5px 10px #fff, 5px 5px 8px #babebc;

  padding: 5px 15px;
  margin: 0px 4px;
  display: inline-block;
  width: 23%;
  cursor: pointer;

}

.categoryListDiv{
  width: 90%;
  margin: auto;
  margin-top: 15px;
}

#selectedDivTitle {
  display: inline-block;
  width: 70%;
}

#create-private-question {
  background-color: white;
  font-size: small;
  border-radius: 5px;
  width: 100px;
  height: 25px;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

#questionnaireDiv {
  height: 500px;
  overflow-y: scroll;
}

#questionnaireDiv ol{
  padding-left: 25px;
}

#templateOwner {
  font-size: large;
  font-weight: bold;
}