/* 김예빈 css */

#templateListDiv {
  margin-top : 10px;
  overflow-y: scroll;
  height: 430px;
  width: 350px;
}

#templateListDiv::-webkit-scrollbar {
  display: none;
}

#questionList{
  list-style: none;
  padding: 0px;
}

#selectedList {
  padding: 0px 0px 0px 20px;
  margin: 0px;
}